
:root{
    --padding-container:100px 0;
    --color-tittle:#001A49

}


body{
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: 90%;
    max-width:1200px;
    margin: 0 auto;
    overflow: hidden;
    

    padding: var(--padding-container);

}

.hero{
    width: 100%;
    height: 100%vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: rgb(245, 249, 252);
    flex-wrap: wrap;
}
.hero::before{
    content: "";
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background-image:/* linear-gradient(180deg,#00000004 0%,#00000009 100%),*/url('https://i.pinimg.com/736x/4e/3e/f9/4e3ef94c356fd156f4eb98aa97f3be74.jpg');
    
    
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 1% 80%);
    z-index: -1;


}
    



.nav{
    --padding-container:0;
    height: 100%;
    display: flex;
    align-items: center;
    
    
}
.nav_title{
    font-weight: 300;

}
.nav_items{
    list-style: none;



}
.nav_link{
    margin-left: auto;
    padding: 0%;
    color: #f5f6f8;
    text-decoration: none;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;


}
/*.nav_links{
    color: aliceblue;
    text-decoration: none;
}*/




.nav_menu{
    margin-left: auto;
    cursor: pointer;
    display: none;
}


.nav_img{
    display: block;
    width: 30px; 

}
.nav_close{
    display: var(--show,none);
} 

.hero_container{
    max-width: 800px;
    display: grid;
    --padding-container:0;
    grid-auto-rows: max-content;
    align-content: center;
    gap: 1em;
    padding-bottom: 100px;
    text-align: center;
}
.hero_title{
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 0 0 2px black;
    
  


}
.hero_paragraph{
    margin-bottom: 20px;
    font-weight: bold;
    text-shadow: 0 0 2px black;
    font-size: 20px;
}

.cta{
    display: inline-block;
    background-color:rgba(118, 173, 236, 0.548);
    justify-self: center;
    text-decoration: none;
    color: aliceblue;
    padding: 13px 20px;
    border-radius: 30px;
    flex-wrap: wrap;

}
/*about*/
.about{
    text-align: center;

}
.subtitle{
    color: var(--color-tittle);
    font-size: 2rem;
    margin-bottom: 25px;
    color: rgb(233, 150, 48);

}
.about_paragraph{
    line-height: 1.7;
    color: rgb(240, 166, 75);

}
.about_icons{
    display: grid;
    gap: 1em;
    justify-self: center;
    width: 260px;
    overflow: hidden;
    margin: 0 auto;
    color: rgba(223, 169, 104, 0.863);
}
.about_icon{
    width: 200px;
    color: rgb(224, 127, 16);
    fill: currentColor;
    border-radius: 1em;



}
.about_main{
    padding-top: 80px;
    display: grid;
    width: 90%;
    margin: 0 auto;
    gap: 1em;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax( 260px, auto));

}
/*knowledge*/
.knowledge{
    background-color: #e5e5f7;
   
    background-image:  radial-gradient(#eeb4144d 0.5px, transparent 0.5px), radial-gradient(#f4f74494 0.5px, #f8c02783 0.5px);
    background-size: 20px 20px;
    background-position: 0 0,10px 10px;
    overflow: hidden;
}
.knowledge_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    align-items: center;

}
.knowledge_picture{
    max-width: 500px;


}
.knowledge_img{
    width: 100%;
    display: block;
    border-radius: 1em;

}
.knowledge_paragraph{
    line-height: 1.7;
    margin-bottom: 15px;
    color: aliceblue;
}
.knowledge_subtitle{
    font-size: 2rem;
    margin-bottom: 25px;
    color: aliceblue;
}
/*price*/
.price{
    text-align: center;

}
.price_table{
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 2.5em;
    justify-content: space-evenly;
    align-items: center;
}
.price_element{
    background-color: rgba(235, 166, 17, 0.712);  
    text-align: center;
    border-radius: 10px;
    width: 250px;
    padding: 40px;
    --color-plan:var(--color-plan)

}
.price_paragraph{
    color: #e5e5f7;
    font-size: 20px;
  
}
.plan_cta{
    display: block;
    padding: 20px 0;
    border-radius: 1em;
    text-decoration: none;
    background-color: rgba(118, 173, 236, 0.548);
    color: #e5e5f7;

}
/*tetimony*/
/*.testimony{
    background-color: rgb(223, 184, 138);
}
.testimony_container{
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    gap: 1em;
    align-items: center;
}
.testimony_body{
          display: grid;
          grid-template-columns: 1fr max-content;

          justify-content: space-between;
          align-items: center;
          gap: 2em;
          grid-column: 2/3;
          grid-row: 1/2;
          opacity: 0;
          pointer-events: none;

}        
.testimony_img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 50% 30%;
}
.testimony_text{
    max-width: 700px;

}
.testimony_arrow{
    width: 50%;
    cursor: pointer;
}    
.testimony_body--show{
    pointer-events: unset;
    opacity: 1;
    transition: opacity 1.5s ease-in-out;

}
.testimony_course{
    background-color: royalblue;
    color: #e5e5f7;
    display: inline-block;
    padding: 5px;
}*/
.carousel.slide{
    display: flex;
    margin: auto;
    width: 500px;  
  
  
}   .carousel_h5{
    text-shadow: 0 0 2px black;
    font-size: 30px;
    font-weight: bold;


}
.carousel_p{
    text-shadow: 0 0 2px black;
    font-size: 20px;
    font-weight: bold;
}

/*.flex-container> div {

  display: flex;
    margin: auto;
    width: 500px;  
}*/

/*questions*/
.questions{
    text-align: center;

}

.questions container{
    background-color: bisque;
    
}
.questions_container{
    color: rgba(235, 166, 17, 0.712);   
    display: grid;
    gap: 2em;
    padding-top: 50px;
    padding-bottom: 100px;
  
}
.questions_padding{
    padding: 0px;
    transition: padding .2s;
    border: 1px solid rgba(235, 166, 17, 0.712);   ;
    border-radius: 6px;
   

}
.questions_padding--add{
    /*padding-bottom: 30px;*/
    margin-bottom: 30px;

}
.questions_paragraph{
    color: rgb(243, 242, 242);
    background-color: rgba(235, 166, 17, 0.712);  ;
    border-radius: 1rem;
}


.subtitles2{
   color: hsl(30, 8%, 95%);
   background-color:  rgba(235, 166, 17, 0.712);  ;
   border-radius: 1em;

}
.questions_answer{
    
    padding: 0 30px 0;
   overflow: hidden;
    

    

}
.questions_offer{
    padding-bottom: 30px;
}
.questions_arrow{
    border-radius: 50%;
    background-color: rgba(235, 166, 17, 0.712);  
    margin-left: 10px;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    transition: transform .3s;


    
}
.questions_arrow--rotate{
    transform: rotate(180deg);
}
.questions_title{
    display: flex;
    padding: 30px 0 30px;
    cursor: pointer;
    justify-content: space-between;
    font-size: 20px;



}
.questions_img{
    background-color: rgba(235, 166, 17, 0.712);  
    border-radius: 1em;
    display: block;

}
.questions_show{
    text-align: left;
    height: 0;
  transition: height .3s;
}
/*.cuestion2{
    padding: auto;
    height: 100px;
}*/
.questions_copy{
   
    width: 60%;
    margin: auto;
    margin-bottom: 20px;
    color:  rgba(235, 166, 17, 0.712);  
   
    
}
/*Footer*/
.footer{
    background-color:  rgba(235, 166, 17, 0.712);  
  margin: top 20px;
  border-radius: 1em;

}
.footer_title{
    font-weight: 300;
    font-size: 2rem;
    margin-bottom: 30px;
    
}    
.footer_title, .footer_newsletter{

    color: rgb(245, 244, 244);
}
.footer_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #f5f6f8;
    padding-bottom: 60px;

}
.nav--footer{
    padding-bottom: 20px;
    display: grid;
    gap: 1em;
    grid-auto-flow: row;
    height: 100%;
}
.nav_link--footer{
    display: flex;
    margin: 0;
    margin-right: 20px;

    flex-wrap: wrap;
}
.footer_inputs{
    margin-top: 10p;
    display: flex;
    overflow: hidden;
    

}
.footer_input{
    
    height: 50px;
    display: block;
    padding-left: 10px;
    border-radius: 6px;
    font-size:1rem;
    outline: none;
    border: none;
    margin-right: 16px;

}

.footer_submit{
    margin-left: auto;
    display: inline-block;
    height: 50px;
    padding: 0 20px;
    border: none;
    font-size: 1rem;
    border-radius: 6px;
    background-color:rgba(118, 173, 236, 0.548);
    cursor: pointer;


}
.footer_copy{
    --padding-container:30px 0;
    text-align: center;
    color: aliceblue;

}
.footer_copyright{
    font-weight: 300;
}

.footer_icons{
   
    margin-bottom: 10px;

}
.footer_img{
    width: 30px;
}

 

        





